<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kylin // Dashboard</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.multiselect.css') }}" />

	<link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/chat.css') }}" type="text/css" />

	
	
  <!-- Bootstrap core CSS -->
  <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style id="holderjs-style" type="text/css"></style>
  
  {% block head %}
	{% endblock %}
					
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Kylin" rel="homepage">Kylin</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <p class="navbar-text">Chez {% if app.user.getFoyers[app.user.getCurrentFoyer()].name != NULL %} {{ app.user.getFoyers[app.user.getCurrentFoyer()].name }} {% else %} toi {% endif %}</p>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('options') }}"><span class="glyphicon glyphicon-wrench" title="Options"></span></a></li>
          <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off" title="Déconnexion"></span></a></li>
        </ul>
        <p class="navbar-text navbar-right"> Bonjour {{ app.user.username }}</p>
      </div>
    </div>
  </div>

  <nav class="sidebar-mobile" role="navigation">
    <a href="{{ path('sf_bienvenue') }}" class="active"><span class="glyphicon glyphicon-home" title="Accueil"></span></a>
    <a href="{{ path('chat') }}"><span class="glyphicon glyphicon-comment" title="Accueil"></span></a>
    <a href="{{ path('task_calendar') }}"><span class="glyphicon glyphicon-calendar" title="Calendrier"></span></a>
    <a href="{{ path('task') }}"><span class="glyphicon glyphicon-ok" title="To Do"></span></a>
    <a href="{{ path('shoppinglist') }}"><span class="glyphicon glyphicon-shopping-cart" title="Liste de courses"></span></a>
    <a href="{{ path('loan') }}"><span class="glyphicon glyphicon-transfer" title="Prêts"></span></a>
    <a href="{{ path('contact') }}"><span class="glyphicon glyphicon-phone-alt" title="Contacts"></span></a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-md-1 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="{{ path('sf_bienvenue') }}" class="active"><span class="glyphicon glyphicon-home" title="Accueil"></span></a></li>
          <li><a href="{{ path('chat') }}"><span class="glyphicon glyphicon-comment" title="Accueil"></span></a></li>
          <li><a href="{{ path('task_calendar') }}"><span class="glyphicon glyphicon-calendar" title="Calendrier"></span></a></li>
          <li><a href="{{ path('task') }}"><span class="glyphicon glyphicon-ok" title="To Do"></span></a></li>
          <li><a href="{{ path('shoppinglist') }}"><span class="glyphicon glyphicon-shopping-cart" title="Liste de courses"></span></a></li>
          <li><a href="{{ path('loan') }}"><span class="glyphicon glyphicon-transfer" title="Prêts"></span></a></li>
          <li><a href="{{ path('contact') }}"><span class="glyphicon glyphicon-phone-alt" title="Contacts"></span></a></li>
        </ul>
      </div>

      <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
		<div>
			<h1 class="page-header"> {% block bodytitle %}Kylin{% endblock %}
				<div style="float: right;" class="btn-group">
					{% block bodyaction %}
					{% endblock %}
				</div>
			</h1>
			
		</div>
		<div id="content" class="container">
		  {% block body %}
		  {% endblock %}
		</div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container fluid -->

  <div id="chat-dock">
	
	<div class="chatter-new" onclick="newChat('', true);"> New chat </div>
  </div>
  <div style="clear: both;"></div>
  
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.multiselect.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.datetimepicker.js') }}"></script>

<script>
		chatcounter = 0;
		
		
		
		function openChat(id) {
			$("#"+id+"-close").css('display', 'none');
			$("#"+id+"-open").css('display', 'block');
			
		}
		
		function closeChat(id) {
			$("#"+id+"-open").css('display', 'none');
			$("#"+id+"-close").css('display', 'block');
		}
		
		function closeNChat(id) {
		
			$("#chatter"+id+"-open").remove();
			$("#chatter"+id+"-close").remove();
			
			return false;
		}
		
		function newChat(id, open) {
			
			chatters = "";
			
			if(id =="") {
				
				members = "";
				
				$.ajax({
				   url : '{{ path('foyer_members') }}', 
				   type : 'GET',
				   dataType: 'json',
				   async: false,
				   success: function(data, textStatus, jqXHR)
					{
						
						members = data.members
					},
					error: function (jqXHR, textStatus, errorThrown)
					{
				 
					}
				});
				
				$.each( members, function(key, obj){
					chatters += '<option value="'+obj.userid+'">'+obj.username+'</option>';
				});
				
			}
			
			inputchatid = "";
			if(id != "") {
				inputchatid = '<input type="hidden" id="chatid'+id+'" value="'+chatcounter+'" />';
			}
			
			$("#chat-dock").append(' \
			<div class="chatter-close" id="chatter'+chatcounter+'-close" onclick="openChat(\'chatter'+chatcounter+'\');">...</div> \
			<div class="chatter-open" id="chatter'+chatcounter+'-open" > \
				<form id="chatter'+chatcounter+'-form" name="chatter'+chatcounter+'-form" onsubmit="sendMessage('+chatcounter+'); return false;"> \
				'+inputchatid+' \
				<div class="chatter-names" name="chatter-names"  onclick="closeChat(\'chatter'+chatcounter+'\');"> \
				<select multiple> \
				'+chatters+' \
				</select> \
				&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="return closeNChat('+chatcounter+');">X</a> \
				</div> \
				<div class="chatter-discussion" name="chatter-discussion"></div> \
				<div class="chatter-message"><input type="hidden" name="chatid" value="'+id+'" /><input type="text" name="message" value="Your message..." /></div> \
				</form> \
			</div> \
			');
			
			if(open == true) {
				openChat('chatter'+chatcounter);
			}

			$('#chatter'+chatcounter+'-open select').multiselect({
			   selectedList: 6 // 0-based index
			});
			
			
			
			chatcounter++;
			
			return chatcounter-1;
		}
		
		
		
		function sendMessage(formid) {
			
			message = $("#chatter"+formid+"-form [name=message]").val();
			
			if(message == "") {
				alert("Aucun message.");
				return false;
			}
			
			chatid = $("#chatter"+formid+"-form [name=chatid] ").val();
			
			if(chatid == "") {
				chatters =  []; 
				
				$("#chatter"+formid+"-form [name=chatter-names] :selected").each(function(i, selected){ 
				  chatters[i] = $(selected).val(); 
				});
				
				
				chatid = registerChat(formid, chatters);
			}
			
			$.ajax({
			   url : '{{ path('chat_send_message') }}', 
			   type : 'POST',
			   data : 'chatid='+chatid+"&message="+message,
			   async: false,
			   success: function(data, textStatus, jqXHR)
				{
					$("#chatter"+formid+"-form [name=message] ").val("");
					
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
					alert("Erreur dans l'envoi du message.");
				}
			});
			
		}
		
		
		function registerChat(formid, chatters) {
			chatid = 0;
			$.ajax({
			   url : '{{ path('chat_create') }}', 
			   type : 'POST',
			   data : 'chatters='+chatters,
			   async: false,
			   success: function(data, textStatus, jqXHR)
				{
					
					$("#chatter"+formid+"-form [name=chatid]").val(data.chatid);
					$("#chatter"+formid+"-form [name=chatter-names]").html(data.chatters);
					$("#chatter"+formid+"-close").html(data.chatters);
					$("#chatter"+formid+"-form").append('<input type="hidden" id="chatid'+data.chatid+'" value="'+formid+'" />');
					chatid = data.chatid;
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
			 
				}
			});
			
			return chatid;
		}
		
		function loadChat() {
			$.ajax({
			   url : '{{ path('chat_load') }}', 
			   type : 'POST',
			   async: false,
			   success: function(data, textStatus, jqXHR)
				{
					$.each( data.chatters, function(key, obj){
						
						formid = newChat(obj.chatid, true);
						$("#chatter"+formid+"-form [name=chatter-names]").html(obj.chatters_name+" <a href=\"#\" onclick=\"archiveChat("+formid+"); return false;\">Fermer</a>");
						$("#chatter"+formid+"-close").html(obj.chatters_name);
						
						$.each(obj.messages, function(key, obj){
						
							$("#chatter"+formid+"-form [name=chatter-discussion]").append("<p><b>"+obj.sender+"</b>: "+obj.message+"</p>");
							
							
						});
						
						var wtf    = $("#chatter"+formid+"-form [name=chatter-discussion]");
						var height = wtf[0].scrollHeight;
						wtf.scrollTop(height);
					});
					
					
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
			 
				}
			});
		}
		
		var now = new Date();
		lasttime_receive = Math.round(new Date().getTime() / 1000);
		
		function receiveChat() {
			
			$.ajax({
			   url : '{{ path('chat_receive_message') }}', 
			   type : 'POST',
			   data : 'date='+lasttime_receive,
			 
			   success: function(data, textStatus, jqXHR)
				{
					
					
					$.each(data.messages, function(key, obj){
						formid = $("#chatid"+obj.chatid).val();
						
						
						if(typeof formid === "undefined") {
							newChat(obj.chatid, true);
							formid = $("#chatid"+obj.chatid).val();
							$("#chatter"+formid+"-form [name=chatter-names]").html(obj.chatters_name+" <a href=\"#\" onclick=\"archiveChat("+formid+"); return false;\">Fermer</a>");
						}
						
						
						//alert(obj.chatid);
						$("#chatter"+formid+"-form [name=chatter-discussion]").append("<p><b>"+obj.sender+"</b>: "+obj.message+"</p>");
						
						var wtf    = $("#chatter"+formid+"-form [name=chatter-discussion]");
						var height = wtf[0].scrollHeight;
						wtf.scrollTop(height);
					
					//	alert(obj.message);
					});
					
					
					
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
			 
				}
			});
			
			lasttime_receive = Math.round(new Date().getTime() / 1000);
			setTimeout(receiveChat, 3000);
		}
		
		
		
		function archiveChat(formid) {
			
			chatid = $("#chatter"+formid+"-form [name=chatid] ").val();
			
			$.ajax({
			   url : '{{ path('chat_archive') }}', 
			   type : 'POST',
			   data : 'chatid='+chatid,
			   async: false,
			   success: function(data, textStatus, jqXHR)
				{
					
				
					$("#chatter"+formid+"-open").remove();
					$("#chatter"+formid+"-close").remove();
					
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
			 
				}
			});
			
		}
		
		loadChat();
		receiveChat();
		
	</script>
	
	{% block javascript %}
		
	{% endblock %}

</body>
</html>