{% extends 'SfContactBundle::layout.html.twig' %}

{% block bodytitle -%}
    Nouveau contact
{% endblock %}

{% block bodyaction -%}
    <a href="{{ path('contact') }}" class="btn btn-default">Revenir à la liste</a>
{% endblock %}

{% block body -%}
  <form action="{{ path('contact_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    <div class="form-group">
        <label for="name">Nom</label>
        {{ form_widget(form.name) }}
        <span class="help-block">{{ form_errors(form.name) }}</span>
    </div><!-- /.form-group -->   
    <div class="form-group">
        <label for="category">Catégorie</label>
        {{ form_widget(form.category) }}
        <span class="help-block">{{ form_errors(form.category) }}</span>
    </div><!-- /.form-group -->   
    <div class="form-group">
        <label for="email">E-mail</label>
        {{ form_widget(form.email) }}
        <span class="help-block">{{ form_errors(form.email) }}</span>
    </div><!-- /.form-group --> 
    <div class="form-group">
        <label for="adress">Adresse</label>
        {{ form_widget(form.address) }}
        <span class="help-block">{{ form_errors(form.address) }}</span>
    </div><!-- /.form-group --> 
    <div class="form-group">
        <label for="homePhoneNumber">Téléphone (maison)</label>
        {{ form_widget(form.homePhoneNumber) }}
        <span class="help-block">{{ form_errors(form.homePhoneNumber) }}</span>
    </div><!-- /.form-group --> 
    <div class="form-group">
        <label for="mobilePhoneNumber">Téléphone (mobile)</label>
        {{ form_widget(form.mobilePhoneNumber) }}
        <span class="help-block">{{ form_errors(form.mobilePhoneNumber) }}</span>
    </div><!-- /.form-group --> 
    <div class="form-group">
        <label for="otherPhoneNumber">Téléphone (autre)</label>
        {{ form_widget(form.otherPhoneNumber) }}
        <span class="help-block">{{ form_errors(form.otherPhoneNumber) }}</span>
    </div><!-- /.form-group --> 
    <div class="form-group">
        <label for="remark">Remarque</label>
        {{ form_widget(form.remark) }}
        <span class="help-block">{{ form_errors(form.remark) }}</span>
    </div><!-- /.form-group --> 

    {{ form_rest(form) }}

    <p class="text-center"><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter le contact</button></a>

  </form>
{% endblock %}