{% extends '::layout.html.twig' %}



{% block bodytitle %}
	Prêts
{% endblock %}


{% block bodyaction %}
	 <button class="btn btn-default" onclick="document.location = '{{ path('loan_new') }}'">Nouvel emprunt</a>
	 	
{% endblock %}


{% block body -%}

    <table class="table">
        <thead>
            <tr>
                <th>Prêteur</th>
                <th>Quoi</th>
                <th>A qui</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.lender }}</td>
                <td>{{ entity.item }}</td>
                <td>{{ entity.borrower }}</td>
                <td>
					<div class="button-group">
						<button class="btn btn-small" onclick="document.location='{{ path('loan_show', { 'id': entity.id }) }}'"><i class="glyphicon glyphicon-eye-open"></i></button>
						<button class="btn btn-small" onclick="document.location='{{ path('loan_edit', { 'id': entity.id }) }}'"><i class="glyphicon glyphicon-edit"></i></button>
					</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}