{% extends 'SfTodoBundle::layout.html.twig' %}

{% block body -%}
    <h1>Calendar</h1>


{% set year = "now"|date('Y') %}
{% set monthnb = "now"|date('n') %}
{% set day = "now"|date('d') %}

{% set nbdays = "now"|date('t') %}
{% set todayday = "now"|date('N') %}

{% set firstday = todayday-1 %}
{% for i in 1..todayday %}
{% set firstday = firstday-1 %}
{% if firstday == 0 %}
{% set firstday = 7 %}
{% endif %}
{% endfor %}

<h2>{{ "now"|date('F') }}</h2>

<br />
<table class="table">
<tr><th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th><th>Vendredi</th><th>Samedi</th><th>Dimanche</th></tr>

{% set j = 0 %}
{% for i in 0..(nbdays+firstday) %}


{% if i%7 == 2 %}
<tr>
{% endif %}

{% if j <= firstday %}
{% set j = (j + 1) %}
<td></td>
{% else %}
<td>{{ (i-firstday) }}

{% for entity in entities %}
{% if entity.deadline|date('d') == (i-firstday) and entity.deadline|date('m') == monthnb and entity.deadline|date('Y') == year %}
<br />{{ entity.deadline|date('H:i') }} : {{ entity.name }}
{% endif %}
{% endfor %}

</td>
{% endif %}

{% if i%7 == 1 %}
</tr>
{% endif %}

{% endfor %}
</table>



<h2>Résumé de toutes vos tâches</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{% if entity.deadline %}{{ entity.deadline|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}