{% extends 'SfTodoBundle::layoutCalendar.html.twig' %}

{% block body -%}
<h1>Calendar</h1>
<h2>{{ date|date('F') }}</h2>

<table class="table">
    <tr><th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th><th>Vendredi</th><th>Samedi</th><th>Dimanche</th></tr>

    {% set nbdays = date|date('t') %}
    {% set firstday = date|date('N') %}
    {% set j = 0 %}

    {% for i in 0..(nbdays+firstday) %}
        {% if i%7 == 2 %}
            <tr>
        {% endif %}

        {% if j <= firstday %}
            {% set j = (j + 1) %}
            <td></td>

        {% else %}
            <td>
            {{ (i-firstday) }}

            {% for entity in entities %}
                {% if entity.deadline|date('d') == (i-firstday) %}
                    <br />
                    {{ entity.deadline|date('H:i') }} : <a href="{{ path('task_showEvent', { 'id': entity.id }) }}">{{ entity.name }}</a>
                {% endif %}
            {% endfor %}

            </td>
        {% endif %}

        {% if i%7 == 1 %}
            </tr>
        {% endif %}
    {% endfor %}
</table>

<div class="row">
    <div class="col-md-2">
        <a href="{{ path('task_showCalendarPrevious', { 'month': date|date('m'), 'year': date|date('Y') }) }}">Previous Month</a>
    </div>
    <div class="col-md-2 col-md-offset-10">
        <a href="{{ path('task_showCalendarNext', { 'month': date|date('m'), 'year': date|date('Y') }) }}" >Next Month</a>
    </div>
</div>

{% endblock %}