{% extends entity.visible == '1' 
    ? 'SfTodoBundle::layout.html.twig' 
    : 'SfTodoBundle::layoutCalendar.html.twig' %}

{% block body -%}
    {% if entity.visible == 1 %}
    <h1>Task edit</h1>
    {% else %}
    <h1>Event edit</h1>
    {% endif %}
	
	
	<form action="{{ path('task_update', {'id' : entity.id }) }}" method="post">
    	
		
		{{ form_errors(edit_form) }}
		
		Nom:
		{{ form_widget(edit_form.name) }}
		{{ form_errors(edit_form.name) }}
		
		
		Description:
		{{ form_widget(edit_form.description) }}
		{{ form_errors(edit_form.description) }}
		
		Statut:
		{{ form_widget(edit_form.status) }}
		{{ form_errors(edit_form.status) }}
		
		Deadline:
		{{ form_widget(edit_form.deadline) }}
		{{ form_errors(edit_form.deadline) }}
		
		<script>
			$( document ).ready(function() {
				$('#sf_todobundle_task_deadline').datetimepicker({ format:'d/m/Y H:i' });
			});
		</script>
		
		
		Users:
		{{ form_widget(edit_form.users) }}
		{{ form_errors(edit_form.users) }}
		
		{{ form_rest(edit_form) }}
		
    	<input type="submit" value="Enregistrer" class="btn btn-primary" />
  	</form>
	
	
  

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
     <li><a href="{{ path('task_delete', { 'id': entity.id }) }}">
            Supprimer
        </a></li>
</ul>
{% endblock %}
