{% extends visible == '1' 
    ? 'SfTodoBundle::layout.html.twig' 
    : 'SfTodoBundle::layoutCalendar.html.twig' %}

{% block bodytitle -%}
	{% if visible == 1 %}
    Nouvelle tâche
    {% else %}
    Nouvel événement
    {% endif %}
{% endblock %}

{% block bodyaction -%}
	{% if visible == 1 %}
		<a href="{{ path('task') }}" class="btn btn-default">Revenir à la liste</a>
	{% else %}
		<a href="{{ path('task_calendar') }}" class="btn btn-default">Revenir au calendrier</a>
	{% endif %}	
{% endblock %}

{% block body -%}
    <form action="{{ path('task_new', {'visible' : visible }) }}" method="post" role="form">

    {{ form_errors(form) }}
    
    	<div class="form-group">
    		<label for="name">Nom</label>
    		{{ form_widget(form.name) }}
    		<span class="help-block">{{ form_errors(form.name) }}</span>
    	</div><!-- /.form-group -->    	
    	<div class="form-group">
    		<label for="description">Description</label>
    		{{ form_widget(form.description) }}
    		<span class="help-block">{{ form_errors(form.description) }}</span>
    	</div><!-- /.form-group -->
    	<div class="form-group">
    		<label for="deadline">Deadline</label>
    		{{ form_widget(form.deadline) }}
    		<span class="help-block">{{ form_errors(form.deadline) }}</span>
    	</div><!-- /.form-group -->
		
		<script>
			$( document ).ready(function() {
				$('#sf_todobundle_task_deadline').datetimepicker({ format:'d/m/Y H:i' });
			});
		</script>
		
    	<div class="form-group">
    		<label for="users">Attribuer à</label>
    		{{ form_widget(form.users) }}
    		<span class="help-block">{{ form_errors(form.users) }}</span>
    	</div><!-- /.form-group -->
		
		{{ form_rest(form) }}
		
    	<p class="text-center"><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter</button></a>
  	</form>
{% endblock %}
