{% extends entity.visible == '1' 
    ? 'SfTodoBundle::layout.html.twig' 
    : 'SfTodoBundle::layoutCalendar.html.twig' %}

{% block body -%}
    {% if entity.visible == 1 %}
    <h1>Task</h1>
    {% else %}
    <h1>Event</h1>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Persons concerned</th>
                <td>{% for user in entity.getUsers() %}
                    {{ user.firstname }}
                <br />
                {% endfor %}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ entity.deadline|date('Y-m-d H:i:s') }}</td>
            </tr>
			<tr>
                <th>Statut</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description|nl2br }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{% for member in app.user.getFoyers[app.user.getCurrentFoyer()].getUsers() %}
                    {% if entity.createdBy == member.id %}{{ member.firstname }}{% endif %}
                {% endfor %}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ entity.creationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modificationdate</th>
                <td>{{ entity.modificationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    {% if entity.visible == 1 %}
        <li>
            <a href="{{ path('task') }}">
                Back to the list
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('task_calendar') }}">
                Back to the calendar
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ path('task_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li><a href="{{ path('task_delete', { 'id': entity.id }) }}">
            Supprimer
        </a></li>
</ul>
{% endblock %}
