{% extends 'SfShoppingBundle::layout.html.twig' %}

{% block bodytitle -%}
    Nouvelle liste de courses
{% endblock %}

{% block bodyaction -%}
	<a href="{{ path('shopping') }}" class="btn btn-default">Revenir aux listes</a>
{% endblock %}

{% block body -%}
	<form action="{{ path('shoppinglist_new') }}" method="post" role="form">

		{{ form_errors(form) }}

		<div class="form-group">
			<label for="name">Nom</label>
			{{ form_widget(form.name) }}
			<span class="help-block">{{ form_errors(form.name) }}</span>
		</div><!-- /.form-group -->    	
		<div class="form-group">
			<label for="deadline">Deadline</label>
			{{ form_widget(form.deadline) }}
			<span class="help-block">{{ form_errors(form.deadline) }}</span>
		</div><!-- /.form-group -->

		<script>
			$( document ).ready(function() {
				$('#sf_shoppingbundle_shoppinglist_deadline').datetimepicker({ format:'d/m/Y H:i' });
			});
		</script>

		<div class="form-group">
			<label for="users">Propriétaire</label>
			{{ form_widget(form.users) }}
			<span class="help-block">{{ form_errors(form.users) }}</span>
		</div><!-- /.form-group -->

		<div class="form-group">
			<label class="checkbox-inline">
			  {{ form_widget(form.private) }} Privée ?
			</label>
			<span class="help-block">{{ form_errors(form.private) }}</span>
		</div><!-- /.form-group -->

		{{ form_rest(form) }}

		<p class="text-center"><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Créer la liste de courses</button></a>
	</form>
{% endblock %}
