{% extends 'SfShoppingBundle::layout.html.twig' %}

{% block body -%}
<h3>Liste des courses</h3>

<table class="table">
    <tr>
        <th>Nom de la liste</th>
        <td>{{ entity.name }}</td>
    </tr>
    <tr>
        <th>Date des courses</th>
        <td>{% if entity.deadline != null %}{{ entity.deadline|date('l d F H:i') }}{% endif %}</td>
    </tr>
    <tr>
        <th>Créée par</th>
        <td>
            {% for member in app.user.getFoyers[app.user.getCurrentFoyer()].getUsers() %}
                    {% if entity.createdBy == member.id %}{{ member.firstname }}{% endif %}
                {% endfor %}
        </td>
    </tr>
    {% if entity.private == true %}
        <th>Personnes concernées</th>
            <td>{% for user in entity.getUsers() %}
                    {{ user.firstname }}
                <br />
                {% endfor %}
        </td>
    {% endif %}
    <tr>
        <th>Date de création</th>
        <td>{{ entity.creationDate|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Dernière modification</th>
        <td>{{ entity.modificationDate|date('Y-m-d H:i:s') }}</td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Ajouté par</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                {% for article in entity.getArticles() %}
                    {{ article.name }}
                <br />
                {% endfor %}
            </td>
            <td>
                {% for article in entity.getArticles() %}
                    {{ article.quantity}}
                <br />
                {% endfor %}
            </td>
            <td>
                {% for article in entity.getArticles() %}
                    {% for member in app.user.getFoyers[app.user.getCurrentFoyer()].getUsers() %}
                    {% if article.addBy == member.id %}{{ member.firstname }}{% endif %}
                {% endfor %}
                <br />
                {% endfor %}
            </td>
            <td>
            {% for article in entity.getArticles() %}
                <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                <a href="{{ path('article_delete', { 'id': article.id }) }}">delete</a>
                <br />
            {% endfor %}
            </td>
        </tr>
        <tr>
        <form action="{{ path('article_new', { 'id': entity.id, 'page' : 'show'}) }}" method="post" {{ form_enctype(form) }}>

                {{ form_errors(form) }}

                <td>
                  {{ form_label(form.name, "Nom") }}
                  {{ form_errors(form.name) }}
                  {{ form_widget(form.name) }}
                </td>

                <td>
                  {{ form_label(form.quantity, "Quantité") }}
                  {{ form_errors(form.quantity) }}
                  {{ form_widget(form.quantity) }}
                </td>
                {{ form_rest(form) }}
                <td><input type="submit" value="Ajouter" class="btn btn-primary" class="btn btn-primary" /></td>

            </form>
            </tr>
    </tbody>
</table>

{% if entity.private == true %}
<a href="{{ path('shoppinglist_private') }}">Retour aux listes</a>
{% else %}
<a href="{{ path('shoppinglist') }}">Retour aux listes</a>
{% endif %}

<br /><a href="{{ path('shoppinglist_edit', { 'id': entity.id }) }}">Editer</a>
<br /><a href="{{ path('shoppinglist_delete', { 'id': entity.id }) }}">Supprimer</a>
{% endblock %}