{% extends '::layout.html.twig' %}

{% block bodyback %}
{% endblock %}


{% block bodytitle %}
	<i class="glyphicon glyphicon-shopping-cart"></i> {{ entity.name }} {% if entity.deadline != null %}<small>{{ entity.deadline|date('l d F H:i') }}</small>{% endif %}
{% endblock %}


{% block bodyaction %}
	<button class="btn btn-danger" onclick="document.location = '{{ path('shoppinglist_delete', { 'id': entity.id }) }}'">Supprimer</a>
	<button class="btn btn-success" onclick="document.location = '{{ path('shoppinglist_edit', { 'id': entity.id }) }}'">Editer</a>
	
{% endblock %}


{% block body -%}
	
	<div>
		<div class="label label-default" style="float: right; margin-right: 10px;"><i class="glyphicon glyphicon-time"></i> {{ entity.creationDate|date('d-m-Y H:i') }}</div> 

		<div class="label label-default" style="float: right; margin-right: 10px;"><i class="glyphicon glyphicon-user"></i> 
			 {% for member in app.user.getFoyers[app.user.getCurrentFoyer()].getUsers() %}
				{% if entity.createdBy == member.id %}{{ member.firstname }}{% endif %}
			{% endfor %}
		</div>
		
		{% if entity.private == true %}
		<div class="label label-default" style="float: right; margin-right: 10px;">
			<i class="glyphicon glyphicon-lock"></i>
			
			{% for user in entity.getUsers() %}
				{{ user.username }}
			{% endfor %}
			
		</div>
		{% endif %}
		
		
		
		
		<div style="clear:both;"></div>
	</div>
	
  
<table class="table">
    <thead>
        <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Ajouté par</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                {% for article in entity.getArticles() %}
                    {{ article.name }}
                <br />
                {% endfor %}
            </td>
            <td>
                {% for article in entity.getArticles() %}
                    {{ article.quantity}}
                <br />
                {% endfor %}
            </td>
            <td>
                {% for article in entity.getArticles() %}
                    {% for member in app.user.getFoyers[app.user.getCurrentFoyer()].getUsers() %}
                    {% if article.addBy == member.id %}{{ member.firstname }}{% endif %}
                {% endfor %}
                <br />
                {% endfor %}
            </td>
            <td>
            {% for article in entity.getArticles() %}
                <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                <a href="{{ path('article_delete', { 'id': article.id }) }}">delete</a>
                <br />
            {% endfor %}
            </td>
        </tr>
        <tr>
        <form action="{{ path('article_new', { 'id': entity.id, 'page' : 'show'}) }}" method="post" {{ form_enctype(form) }}>

                {{ form_errors(form) }}

                <td>
                  {{ form_label(form.name, "Nom") }}
                  {{ form_errors(form.name) }}
                  {{ form_widget(form.name) }}
                </td>

                <td>
                  {{ form_label(form.quantity, "Quantité") }}
                  {{ form_errors(form.quantity) }}
                  {{ form_widget(form.quantity) }}
                </td>
                {{ form_rest(form) }}
                <td><input type="submit" value="Ajouter" class="btn btn-primary" class="btn btn-primary" /></td>

            </form>
            </tr>
    </tbody>
</table>

{% if entity.private == true %}
<a href="{{ path('shoppinglist_private') }}">Retour aux listes</a>
{% else %}
<a href="{{ path('shoppinglist') }}">Retour aux listes</a>
{% endif %}

{% endblock %}