{% extends "::layout.html.twig" %}

{% block menu_fonctionnalite -%}
<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="{{ path('contact') }}">Voir les contacts</a>
  </li>
  <li>
    <a href="{{ path('contact_new') }}">Créer un nouveau contact</a>
  </li>
  
  <form action="{{ path('contact_search') }}" method="post" >

{{ form_errors(search) }}

<div>
  {{ form_label(search.recherche, "Recherche") }}
  {{ form_errors(search.recherche) }}
  {{ form_widget(search.recherche) }}
</div>
{{ form_rest(search) }}
<input type="submit" value="Recherche" />

</form>
</ul>
{% endblock %}